@supports (font-variation-settings: normal) {
  :root {
    font-family: var(--sans-serif);
    font-optical-sizing: auto;
    font-size: calc(1rem + 0.2vw)
  }
}

@font-face {
  font-family: "InterVar";
  font-weight: 100 900;
  font-style: normal;
  src: url("Inter.var.woff2") format("woff2-variations"),
    url("Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "InterVar";
  font-weight: 100 900;
  font-style: italic;
  src: url("Inter-Italic.var.woff2") format("woff2");
}

:root {
  --sans-serif: "InterVar", sans-serif;
  --mono: "JetBrains Mono", "JetBrainsMono NF", "Input Mono", monospace;
  font-family: var(--sans-serif);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}