@import "font.css";

* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    color: var(--text);
}

.p post-date {
    background-color: #21e691;
}

p post-card {
    background: var(--background);
}

p img {
    display: block;
    margin: 0 auto;
}

textarea,
input {
    background-color: black;
}

button {
    background-color: var(--primary);
    color: black;
    border-radius: .4rem;
}

:root {
    color: var(--background);
    --border: #0d0d0d;
    --background: #0b0b0bf3;
    --text: #e1e1e1;
    --primary: #2eb6ff;
    --secondary: #0d8794;
    --header: #21e691;
    --header-bg: #0b3145;
    --fieldset-bg: #0c0d0f;
    --links: var(--primary);
    --selection: var(--primary);
    --highlight: var(--primary);
    background-color: var(--background);
    background-image: url("pattern.svg");
}

body {
    border: 2px solid var(--background);
    border-radius: .4rem;
    max-width: 48rem;
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    overflow-wrap: break-word;
    background: var(--background);
    flex: 1 0 auto;
}

header {
    display: flex;
    align-items: center;
}

#footer.webring {
    text-align: justify;
}


nav {
    gap: 1rem;
    flex-wrap: wrap;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    line-height: 1.5;
    font-size: 18px
}

h1 {
    font-size: 1.8rem
}

h2 {
    font-size: 1.6rem
}

h3 {
    font-size: 1.4rem
}

h4 {
    font-size: 1.2rem
}

h1,
h2,
h3 {
    margin: 0;
}

h4,
h5,
h6 {
    margin: 0;
    margin-top: 1.5rem
}

header {
    background: var(--background);
    border-bottom: 1px solid var(--background);
    padding: 1.5rem;
    margin-bottom: 1rem;
}

fieldset {
    border: 2px solid var(--border);
    background-color: var(--fieldset-bg)
}

img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border: 2px solid var(--border);
    border-radius: .4rem;
    max-width: 100%;
}

a {
    text-decoration: underline;
    color: var(--secondary);
}

textarea {
    width: 236px;
    height: 90px;
}

img.hidden {
    display: block;
    align-content: center;
    filter: drop-shadow(0 0 100.0px #1bb9ff3b);
}

.video-circle {
    border-radius: 50%;
    object-fit: cover;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ripple div {
    position: absolute;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 15px;
        left: 15px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 30px;
        height: 30px;
        opacity: 0;
    }
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    min-width: 0;
    margin-bottom: 10px;
}

code {
    font-size: 0.9rem;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

blockquote {
    padding: 0 0 0 10px;
    background: var(--background);
    border-left: 5px solid var(--primary);
}

hr {
    height: 1px;
    background: var(--background);
}

/* Text Box Styling */
textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

form {
    margin: 0 auto;
}

form label {
    display: block;
    font-weight: bold;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.post-card-div * {
    position: relative;
    padding: 0.2rem;
    border-radius: 0.2rem;
    transition: transform 0.1s;
    filter: drop-shadow(0 0 5.0em rgba(0, 255, 255, 0.354));
}

.post-card-div:active {
    transform: scale(0.96);
}