<!DOCTYPE html>
<html lang="en-IN">
<head>
  <title>{{ if not .IsHome }}{{ .Title }} — {{ end }}{{ .Site.Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="keywords" content="polarhive, polar hive, Polar hive, Polarhive, Nathan, Nathan Paul, blog">
  <meta name="revisit-after" content="1 day">
  <meta name="theme-color" content="#000000">
  {{- if eq .Kind "page" }}
  <meta name="description" content="{{ .Summary }}">
  <meta name="author" content="polarhive"> {{- end}}
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
  <link rel="preload stylesheet" href="/assets/style.css" as="style">
  <link rel="preload" href="/assets/font.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="icon" href="/assets/favicon.png">
</head>
<body>
<main class="main">
