<!DOCTYPE html>
<html lang="en-IN">

<head>
    <meta charset="utf-8">
    <link rel="canonical" href="https://polarhive.net">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta name="author" content="Nathan Paul">
    <meta name="description" content="I'm Nathan a geeky student interested in — computers, minimalism, collaboration & the web. I go by @polarhive online.This is my ~/home on the internet">
    <meta name="keywords" content="polarhive, polar hive, Polar hive, Polarhive, Nathan, Nathan Paul, blog, POLARHIVE, polarhive.net, polarhive.ml">
    <meta property="og:description" content="I'm Nathan a geeky student interested in — computers, minimalism, collaboration & the web. I go by @polarhive online. This is my ~/home on the internet">
    <meta property="og:image" content="https://polarhive.net/assets/hero.png">
    <meta property="og:title" content="polarhive's internet home">
    <meta property="og:type" content="website">
    <link rel="icon" href="/assets/favicon.svg">
    <link rel="preload stylesheet" href="assets/main.css" as="style">
    <link rel="alternate" type="application/rss+xml" title="polarhive" href="https://polarhive.net/blog/index.xml">
    <title>polarhive's internet home</title>
    <a rel="me" href="https://mastodon.social/@polarhive"></a>
</head>

<header>
    <h2>polarhive<a href="about"><video src="assets/glitch.mp4" class="video-circle" autoplay muted loop alt="profile picture" poster="assets/favicon.svg" style="float:right;width:48px;height:48x;"></a></h2>
    <nav><a href="blog">blog</a> · <a href="photos">photos</a> · <a href="videos">videos</a> · <a href="git">git</a> · <a href="contact">contact</a></nav>
</header>
<main>
    <fieldset>
        <h3>Hi. I'm Nathan 👋</h3>

        <p>A geeky student — interested in computers, minimalism, collaboration &amp; the web. This is my
            <code>$HOME</code>
            on the internet.
        </p>

        <p>I go by <a href="/polarhive">/polarhive</a> on the inter-webs. I <a href="/blog">write</a> about tech,
            free/libre software and minimalism. I care about digital-privacy, OSINT and the open-web. I'm also
            interested in
            decentralized protocols <code>[matrix/activitypub]</code>, <code>GNU/Linux</code> and systems programming.
        </p>
        <p>This site is full of easter-eggs and is built from scratch. Poke around — have fun. Feel free to <a
            href="/email">/email</a> me or sign my <a href="/guestbook">/guestbook</a> to say hi.</p>

        <ul>
            <li>This site is <a title="👀 try finding some easter eggs!">handcrafted</a> with ❤️ and runs without JS</li>
            <li>What I'm <a href=/listening>listening</a> to rn! <div style="cursor: pointer;" class="lds-ripple"> <a href="/listening"><div></div><div></div></div></a>
            <li>Meet my <a href="diesel/dorky">dorky</a> dachshund: <a href="diesel">diesel</a></li>
            <li>Help me ✅ stuff off my <a href="/bucketlist">bucketlist</a></li>
            <li>More <a href="about">/about</a> ⟶ me
        </ul>
    </fieldset>
    <h2>projects 🛠</h2>
    <ul>
        <li><a href="/arceo">/arceo</a>: blocklist against social media, news, entertainment &amp; consumerism</li>
        <li><a href="/jukebox">/jukebox</a>: listen to LastFM music recommendations using <code>mpd</code>, <code>yt-dlp</code> and <code>bash</code></li>
        <li><a href="/anna">/anna</a>: static site generator: built as team, part of ACMPESU-ECC's <a href="https://acmpesuecc.github.io/aiep">AIEP</a> program</li>
        <li><a href="/pasta">/pasta</a>: minimal pastebin: written in go 🤌</li>
        <li><a href="/py-typer">/py-typer</a>: speedtyping-test written in Python</li>
        <li><a href="/videos">/videos</a>: I publish videos on PeerTube, LBRY and Youtube</li>
        <li><a href="/ammachiskathas">/ammachiskathas</a>: Malayalam short-stories [an audiobook]</li>
        <li><a href="/wiki">/knowledge</a>: digital knowledge-wiki 🌱</li>
        <li><a href="/vulpes">/vulpes</a>: privacy tweaks for Firefox</li>
        <li><a href="/dots">/dots</a>: *nix config</li>
        <li>Here's my mini ⟶ <a href="/resume">/resume</a></li>
    </ul>

    <h2>links 🔗</h2>
    <ul>
        <li><a href="youtube">YouTube</a>
        <li><a href="mastodon">Mastodon</a>
        <li><a href="pixelfed">Pixelfed</a>
        <li><a href="lbry">Odysee</a>
        <li><a href="contact">more ⟶</a>
    </ul>

    <h2>join my chatroom 🍿</h2>
    <ul>
        <li><a href="chatroom/matrix">[matrix]</a>
        <li><a href="chatroom/telegram">Telegram</a>
    </ul>

    <footer>
        <hr>
        <div class="webring"><a href="https://fediring.net/previous?host=polarhive.net">&lt;-</a> <a
                href="https://fediring.net/">fediring</a> <a href="https://fediring.net/next?host=polarhive.net">-></a>
            <div style="float:right;"><a href="/feed">/feed</a></div>
        </div>
        <div>rendered using <a href="https://github.com/acmpesuecc/anna">anna</a>: 🍚</div>
    </footer>
    </body>

</html>
