<!DOCTYPE html>
<html lang="en-IN">
<head>
    <title>polarhive</title>
    <meta charset="utf-8">
    <link rel="canonical" href="https://polarhive.net">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="I'm Nathan a geeky student interested in — computers, minimalism, collaboration & the web. I go by @polarhive online and This is my ~/home on the internet">
    <meta name="keywords" content="polarhive, polar hive, Polar hive, Polarhive, Nathan, Nathan Paul, blog, POLARHIVE, polarhive.net, polarhive.ml">
    <meta name="theme-color" content="#000000">
    <meta property="og:image" content="https://polarhive.net/assets/favicon.svg">
    <meta name="author" content="Nathan Paul">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="preload stylesheet" href="assets/main.css" as="style">
    <link rel="alternate" type="application/rss+xml" title="polarhive" href="https://polarhive.net/blog/index.xml">
    <a rel="me" href="https://mastodon.social/@polarhive"></a>
</head>
<body>
    <header>
        <h2>polarhive<a href="about"><video src="assets/glitch.mp4" class="video-circle" autoplay muted loop alt="profile picture" poster="assets/favicon.png" style="float:right;width:48px;height:48x;"></a> </h2>
        <nav><a href="blog" target="_blank" rel="noopener">blog</a> · <a href="photos" target="_blank" rel="noopener">photos</a> · <a href="videos" target="_blank" rel="noopener">videos</a> · <a href="git" target="_blank" rel="noopener">git</a> · <a href="contact" target="_blank" rel="noopener">contact</a></nav>
    </header>
    <main>
	<fieldset>
	<blockquote>
            <h2>Hi. I'm Nathan 👋</h2>
            A <b>geeky</b> student interested in <em>computers, minimalism, collaboration & the web!</em>
	</blockquote>

        <ul>
            <li>I <a href=/blog>write</a> about digital-privacy, FOSS/libre software, minimalism and technology on this blog</li>
            <li>Help me tick my <a href="bucketlist.txt" target="_blank" rel="noopener">bucketlist</a> ✅
            <li>Sign my <a href="guestbook" target="_blank" rel="noopener">/guestbook</a> ✍️</li>
            <li>Meet my <a href="diesel/dorky">dorky</a> dachshund—<a href="diesel">diesel</a>
            <li>This site is <a title="👀 try finding some easter eggs!">handcrafted</a> with ❤️  and runs without JS</li>
            <li>What I'm <a href=/listening/>listening</a> to rn! <div style="cursor: pointer;" class="lds-ripple"> <a href="/listening"><div></div><div></div></div></a>
            <li>More <a href="about">/about</a> ⟶ me
	</ul>
	</fieldset>

        <h2 id="projects">projects</h2>
        <ul>
            <li><a href="arceo">/arceo</a> // blocklist against social media, news, entertainment & consumerism
            <li><a href="jukebox">/jukebox</a> // Listen to your LastFM recommendations on linux: using mpd, yt-dlp and bash
            <li><a href="anna">/anna</a> // custom static site generator in go: built together as a team, part of ACM PESU-ECC’s <a href="https://acmpesuecc.github.io/aiep">AIEP</a> program 
            <li><a href="pasta">/pasta</a> // minimal pastebin: written in go 🤌
            <li><a href="py-typer">/py-typer</a> // a speedtyping-test written in Python
            <li><a href="videos">/videos</a> // I publish on decentralized platforms like <a href="peertube">PeerTube</a>, <a href="lbry">LBRY</a> and the fediverse
            <li><a href="ammachiskathas">/Ammachi's Kathas</a> // collection of malayalam short-stories (an audiobook)
            <li><a href="knowledge">/knowledge</a> // digital knowledge wiki 🌱
            <li><a href="vulpes">/vulpes</a> // privacy tweaks for Firefox
            <li><a href="dots">/dots</a> // my GNU/Linux dotfiles
            <li>Here's my mini ⟶ <a href="resume">/resume</a>
	</ul>

        <h2 id="links">links 🔗</h2>
	<ul>
            <li><a href="youtube">YouTube</a>
            <li><a href="mastodon">Mastodon</a>
            <li><a href="pixelfed">Pixelfed</a>
            <li><a href="lbry">Odysee</a>
            <li><a href="contact">more ⟶</a>
        </ul>

       <h2 id="chatroom">join my chatroom 🍿</h2>
        <ul>
            <li><a href="chatroom/matrix">[matrix]</a>
            <li><a href="chatroom/telegram">Telegram</a>
        </ul>
    </main>
    <br>
    <footer>
        <a href="guestbook"><img src="assets/buttons/sign.gif" alt="guestbook" width="100" height=30></a>
        <a href="videos/notes/use-ublock-origin-for-a-bloat-free-web"><img src="assets/buttons/nothingtoblock.gif" width="85" height="30" alt="ublock origin button"></a>
        <a href="uses"><img src="assets/buttons/nvim.gif" alt="nvim"></a>
        <a href="contact"><img src="assets/buttons/mail.gif" alt="mail button" width="107" height=35></a>

	<hr>Nathan Paul · 2018-2024 &#183;
	<a href="/feed"><img src="/assets/buttons/rss.svg" alt="rss icon" style="float:right;width:20px;height:20px;"></a>
	<a href=/gpg>0x78DBFBE8B325A5A9</a> &#183;
	<a href="https://fediring.net/previous?host=polarhive.net"><-</a> <a href="https://fediring.net/">fediring</a> <a href="https://fediring.net/next?host=polarhive.net">-></a>
    </footer>

</body>
</html>
